<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>

  <br/><br/><br/>
  <div class="container">
    <h1>Editing Trip</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @trip %> |
    <%= link_to 'Back', "/users/#{@owner.username}" %>

  </div>
</body>
