<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
  <br/><br/><br/>
  <div class="container">
    <h1 class="page-header">New Trip</h1>

    <%= render 'form' %>
    <br/>
    <%= link_to 'Back', trips_path %>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" %>
  <%= javascript_include_tag "bootstrap.min" %>
</body>
</html>
