@font-face {
  font-family: OpenSans-Italic;
  src: font-url('OpenSans-Italic.ttf');
}

@font-face {
  font-family: OpenSans-Light;
  src: font-url('OpenSans-Light.ttf');
}

@font-face {
  font-family: OpenSans-LightItalic;
  src: font-url('OpenSans-LightItalic.ttf');
}

@font-face {
  font-family: OpenSans-Regular;
  src: font-url('OpenSans-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Regular;
  src: font-url('Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: font-url('Montserrat-Bold.ttf');
}
